<%= form_for(@stuff) do |f| %>
  <% if @stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stuff.errors.count, "error") %> prohibited this stuff from being saved:</h2>

      <ul>
      <% @stuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :expires_at %><br>
    <%= f.datetime_select :expires_at %>
  </div>
  <div class="field">
    <%= f.label :unlisted %><br>
    <%= f.check_box :unlisted %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :encrypted_password %><br>
    <%= f.text_field :encrypted_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
