<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stuff.title %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @stuff.expires_at %>
</p>

<%= link_to 'Download', download_stuff_path(@stuff) %><br>

<%= link_to 'Back', stuffs_path %>
